<h1>Emails</h1>
<%= link_to 'New  E-mail', new_email_path, class: "extracttitle"  %>
<table class="table">
  <thead class="table-dark">
    <tr>
      <th>Sender</th>
      <th>Subject</th>
      <th>Date</th>
      <th colspan="8"></th>
    </tr>
  </thead>
  <tbody>
    <% @emails.each do |email| %>
      <tr>
      <td><%= email.sender %></td>
      <td><%= email.subject %></td>
      <td><%= email.created_at %></td>
      <td><%= link_to 'Show', email %></td>
<% end %>
